variable "project" {
  type = "string"
  default = REPLACE_ME
}

variable "region" {
  type = "string"
  default = REPLACE_ME
}

variable "zone1" {
  type = "string"
  default = REPLACE_ME
}

variable "zone2" {
  type = "string"
  default = REPLACE_ME
}

variable "resource-prefix" {
  type = "string"
  default = REPLACE_ME
}

variable "sys-domain" {
  type = "string"
  default = REPLACE_ME
}

variable "bosh-subnet-cidr-range" {
  type = "string"
  default = REPLACE_ME
}

variable "concourse-subnet-cidr-range" {
  type = "string"
  default = REPLACE_ME
}

variable "pcf-subnet-zone1-cidr-range" {
  type = "string"
  default = REPLACE_ME
}


variable "pcf-subnet-zone2-cidr-range" {
  type = "string"
  default = REPLACE_ME
}
